header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1% 2% 1% 2%;
  background-color: cornflowerblue;
  .logoDesk {
    width: 8%;
  }

  .logoMobile {
    display: none;
    width: 30%;
  }

  .menu {
    width: 30%;
    margin: 0 auto;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      a {
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
        color: black;
        //margin: 1% 5% 1% 5%;
      }
      :hover {
        color: firebrick;
      }
    }
  }
}
