.itemDetailContainer {
  height: 100vh;
  .itemContainerInfo {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2% auto;

    div {
      img {
        width: 30vw;
      }
    }

    .itemDescriptions {
      width: 100%;
      height: max-content;
      margin-left: 3vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .itemContainerDesc {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    h3 {
      width: 100%;
      display: block;
    }
    p {
      width: 100%;

      display: block;
    }
  }
}
