.cartIcon {
  font-size: 1.5rem;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}
